# yaml-language-server: $schema=config.schema.yaml
command_alias_start_index: 200
keybindings:
  root_table: C-a
  prefix_table: Space
title:
  style: align=centre,bold
  prefix: tmux
  prefix_style: fg=green,align=centre,bold
position:
  x: R
  y: P
custom_variables:
  - name: log_info
    value: "#[fg=green,italics] [info]#[default]#[italics]"
macros:
  - name: reload-config
    commands:
      - display "#{log_info} Loading config... "
      - source-file $HOME/.tmux.conf
      - display -p "\n\n... Press ENTER to continue"
  - name: restart-pane
    commands:
      - display "#{log_info} Restarting pane"
      - "respawnp -k -c #{pane_current_path}"
items:
  - name: Run
    key: space
    command: command-prompt
  - separator: true
  - name: Next window
    key: l
    command: next-window
  - name: Previous window
    key: h
    command: previous-window
  - separator: true
  - name: +Windows
    key: w
    menu:
      - name: Last
        key: tab
        command: last-window
      - name: Choose
        key: w
        command: choose-tree -Zw
      - name: index
        key: i
        command: command-prompt -p index "select-window -t ':%%'"
      - separator: true
      - name: New
        key: c
        command: "neww -c #{pane_current_path}"
      - name: New (named)
        key: C
        command: 'command-prompt -p "Name:" "neww -n ''%%'' -c #{pane_current_path}"'
      - name: Rename
        key: ","
        command: command-prompt -I "#W" "renamew -- \"%%\""
      - name: Delete
        key: d
        command: kill-window
      - separator: true
      - name: +Layout
        key: l
        menu:
          - name: Next
            key: l
            command: nextl
            transient: true
          - name: Tiled
            key: t
            command: selectl tiled
          - name: Horizontal even
            key: h
            command: selectl even-horizontal
          - name: Vertical even
            key: v
            command: selectl even-vertical
          - name: Horizontal main
            key: H
            command: selectl main-horizontal
          - name: Vertical main
            key: V
            command: selectl main-vertical
      - name: +Move
        key: m
        menu:
          - name: Move left
            key: h
            command: "swap-window -t -1\\; select-window -t -1"
            transient: true
          - name: Move right
            key: l
            command: "swap-window -t +1\\; select-window -t +1"
            transient: true
  - name: +Panes
    key: p
    menu:
      - name: Last
        key: tab
        command: lastp
      - name: Zoom
        key: z
        command: resizep -Z
      - name: Break
        key: b
        command: break-pane
      - name: Delete
        key: d
        command: kill-pane
      - name: Capture
        key: C
        command: capture-pane
      - separator: true
      - name: +Resize
        key: r
        menu:
          - name: Left
            key: h
            command: resizep -L
            transient: true
          - name: Down
            key: j
            command: resizep -D
            transient: true
          - name: Up
            key: k
            command: resizep -U
            transient: true
          - name: Right
            key: l
            command: resizep -R
            transient: true
          - name: Left more
            key: H
            command: resizep -L 10
            transient: true
          - name: Down more
            key: J
            command: resizep -D 10
            transient: true
          - name: Up more
            key: K
            command: resizep -U 10
            transient: true
          - name: Right more
            key: L
            command: resizep -R 10
            transient: true
      - name: Swap left
        key: h
        command: swapp -t "{left-of}"
      - name: Swap down
        key: j
        command: swapp -t "{down-of}"
      - name: Swap up
        key: k
        command: swapp -t "{up-of}"
      - name: Swap right
        key: l
        command: swapp -t "{right-of}"
  - name: +Sessions/split
    key: s
    menu:
      - name: Choose
        key: s
        command: choose-tree -Zs
      - name: New
        key: c
        command: new
      - name: New (named)
        key: C
        command: command-prompt -p "Session Name:" "new-session -s '%%'"
      - name: Rename
        key: ","
        command: command-prompt -I "#S" "rename-session -- \"%%\""
      - name: Delete
        key: d
        command: kill-session
      - separator: true
      - name: Split right
        key: l
        command: "split-window -h -c #{pane_current_path}"
      - name: Split left
        key: h
        command: "split-window -h -b -c #{pane_current_path}"
      - name: Split down
        key: j
        command: "split-window -c #{pane_current_path}"
      - name: Split up
        key: k
        command: "split-window -v -b -c #{pane_current_path}"
  - name: +Client
    key: c
    menu:
      - name: Choose
        key: c
        command: choose-client -Z
      - name: Last
        key: l
        command: switchc -l
      - name: Previous
        key: p
        command: switchc -p
      - name: Next
        key: n
        command: switchc -n
      - separator: true
      - name: Refresh
        key: R
        command: refresh
      - name: +Plugins
        key: P
        menu:
          - name: Install
            key: i
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/install_plugins
          - name: Update
            key: u
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/update_plugins
          - name: Clean
            key: c
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/clean_plugins
      - name: Detach
        key: D
        command: detach
      - name: Suspend
        key: Z
        command: suspendc
      - separator: true
      - name: Reload config
        key: r
        macro: reload-config
      - name: Customize
        key: ","
        command: customize-mode -Z
  - separator: true
  - name: Time
    key: T
    command: clock-mode
  - name: Show messages
    key: "~"
    command: show-messages
  - name: +Keys
    key: "?"
    command: list-keys -N
